body {
    background-image: url('Backround.jpg');
    background-size: cover;
    margin: 0;
    font-family: Arial, sans-serif;
}

.row {
    text-align: center;
    margin: 20px 0;
}

.card {
    width: 300px;
    height: 575px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px; 
    position: relative;
    background-image: url('Card_Backround.jpg');
    background-size: cover;
    border: 3px solid #000; 
}

.card-image img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.card-details {
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(122, 131, 133, 0.284); 
    border-radius: 0; 
    height: calc(100% - 160px); 
}

.card-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-details .type {
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10px;
}

.card-details .description {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 40px; 
}

.card-buttons {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
}

.card-button {
    padding: 8px 20px;
    margin: 0 5px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card-button:hover {
    background-color: #2980b9;
}

.type.normal { background-color: #A8A878; }
.type.flying { background-color: #A98FF3; }
.type.poison { background-color: #A040A0; }
.type.psychic { background-color: #F85888; }
.type.electric { background-color: #F8D030; }
.type.fairy { background-color: #EE99AC; }
.type.ground { background-color: #E0C068; }


