.card {
    width: 300px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px; /* Increased margin for spacing */
}

.card-image {
    height: 60%; /* Adjusted height */
    overflow: hidden; /* Added to hide any overflow */
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-details {
    padding: 20px;
    height: 40%; /* Adjusted height */
    overflow-y: auto;
}

.card-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-details .type {
    background-color: #3498db;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10px;
}

.card-details .description {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.card-buttons {
    text-align: center;
    margin-top: 10px; /* Added margin */
}

.card-button {
    padding: 8px 20px;
    margin: 0 5px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card-button:hover {
    background-color: #2980b9;
}