body {
    background-image: url('Background.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card {
    width: 250px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-image {
    height: 200px;
    background-size: cover;
    background-position: center;
}

.card-content {
    padding: 20px;
}

.card-buttons {
    margin-top: 10px;
    text-align: center;
}

.card-button {
    padding: 8px 20px;
    margin: 0 5px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.type {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 10px;
}

.description {
    margin-bottom: 10px;
}